USE [master]
GO
/****** Object:  Database [smk_restaurant]    Script Date: 11/23/2016 5:54:58 PM ******/
CREATE DATABASE [smk_restaurant]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'smk_restaurant', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\smk_restaurant.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'smk_restaurant_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\smk_restaurant_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [smk_restaurant].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [smk_restaurant]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 11/23/2016 5:54:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bank](
	[bankId] [int] IDENTITY(1,1) NOT NULL,
	[bankName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[bankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 11/23/2016 5:54:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[employeeId] [varchar](12) NOT NULL,
	[DOB] [date] NOT NULL,
	[employeeName] [varchar](60) NOT NULL,
	[roleId] [int] NOT NULL,
	[phoneNumber] [int] NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[employeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 11/23/2016 5:54:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ingredients](
	[ingredientsId] [int] IDENTITY(1,1) NOT NULL,
	[ingredientsName] [varchar](50) NOT NULL,
	[stock] [int] NOT NULL,
	[unit] [varchar](10) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Ingredients] PRIMARY KEY CLUSTERED 
(
	[ingredientsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Member]    Script Date: 11/23/2016 5:54:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Member](
	[memberId] [varchar](6) NOT NULL,
	[firstName] [varchar](20) NOT NULL,
	[lastName] [varchar](20) NOT NULL,
	[phoneNumber] [int] NOT NULL,
	[email] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 11/23/2016 5:54:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menu](
	[menuId] [int] IDENTITY(1,1) NOT NULL,
	[menuName] [varchar](50) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[startDate] [date] NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[menuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MenuIngredients]    Script Date: 11/23/2016 5:54:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuIngredients](
	[menuIngredientsId] [int] IDENTITY(1,1) NOT NULL,
	[menuId] [int] NOT NULL,
	[ingredientsId] [int] NOT NULL,
	[qty] [int] NOT NULL,
 CONSTRAINT [PK_MenuIngredients] PRIMARY KEY CLUSTERED 
(
	[menuIngredientsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/23/2016 5:54:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[orderId] [int] NOT NULL,
	[tableId] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[totalPrice] [decimal](10, 2) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 11/23/2016 5:54:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[orderDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NOT NULL,
	[menuId] [int] NOT NULL,
	[qty] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[subTotal] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_orderDetails] PRIMARY KEY CLUSTERED 
(
	[orderDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payment]    Script Date: 11/23/2016 5:54:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Payment](
	[paymentId] [int] IDENTITY(1,1) NOT NULL,
	[memberId] [varchar](6) NULL,
	[payMethod] [varchar](20) NOT NULL,
	[bankId] [int] NULL,
	[creditCardNumber] [varchar](25) NULL,
	[promoId] [int] NULL,
	[amount] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[paymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Promo]    Script Date: 11/23/2016 5:54:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Promo](
	[promoId] [int] IDENTITY(1,1) NOT NULL,
	[promoName] [varchar](50) NOT NULL,
	[startDate] [date] NOT NULL,
	[endDate] [date] NOT NULL,
	[minPayment] [decimal](10, 2) NOT NULL,
	[discountPercent] [int] NOT NULL,
	[bankId] [int] NOT NULL,
 CONSTRAINT [PK_Promo] PRIMARY KEY CLUSTERED 
(
	[promoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/23/2016 5:54:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[roleId] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [varchar](20) NOT NULL,
	[privileges] [varchar](20) NOT NULL,
	[defaultPrivileges] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Table]    Script Date: 11/23/2016 5:54:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Table](
	[tableId] [int] IDENTITY(1,1) NOT NULL,
	[tableNo] [varchar](20) NOT NULL,
	[status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[tableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Employee] ([employeeId], [DOB], [employeeName], [roleId], [phoneNumber], [email], [password]) VALUES (N'19511000001', CAST(N'1951-10-17' AS Date), N'ESTELLA BLALOCK', 1, 818123456, N'e_blalock@ccf.org', N'tes123')
INSERT [dbo].[Employee] ([employeeId], [DOB], [employeeName], [roleId], [phoneNumber], [email], [password]) VALUES (N'19521100001', CAST(N'1952-11-26' AS Date), N'KING MERCADO', 5, 818123457, N'k_mercado@hotmail.com', N'tes123')
INSERT [dbo].[Employee] ([employeeId], [DOB], [employeeName], [roleId], [phoneNumber], [email], [password]) VALUES (N'19530800001', CAST(N'1953-08-19' AS Date), N'GERARDO BOWSER', 3, 818123458, N'gerardo_bowser@hotmail.com', N'tes123')
SET IDENTITY_INSERT [dbo].[Ingredients] ON 

INSERT [dbo].[Ingredients] ([ingredientsId], [ingredientsName], [stock], [unit], [price]) VALUES (2, N'ayam', 150, N'gram', CAST(30.00 AS Decimal(10, 2)))
INSERT [dbo].[Ingredients] ([ingredientsId], [ingredientsName], [stock], [unit], [price]) VALUES (3, N'wortel', 1, N'buah', CAST(700.00 AS Decimal(10, 2)))
INSERT [dbo].[Ingredients] ([ingredientsId], [ingredientsName], [stock], [unit], [price]) VALUES (4, N'udang', 100, N'gram', CAST(85.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Ingredients] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([menuId], [menuName], [price], [startDate]) VALUES (1, N'Capcay', CAST(24001.50 AS Decimal(10, 2)), CAST(N'2016-10-17' AS Date))
INSERT [dbo].[Menu] ([menuId], [menuName], [price], [startDate]) VALUES (2, N'Capcay', CAST(21601.35 AS Decimal(10, 2)), CAST(N'2016-04-20' AS Date))
INSERT [dbo].[Menu] ([menuId], [menuName], [price], [startDate]) VALUES (3, N'Capcay', CAST(19441.21 AS Decimal(10, 2)), CAST(N'2015-10-23' AS Date))
SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[MenuIngredients] ON 

INSERT [dbo].[MenuIngredients] ([menuIngredientsId], [menuId], [ingredientsId], [qty]) VALUES (1, 1, 2, 150)
INSERT [dbo].[MenuIngredients] ([menuIngredientsId], [menuId], [ingredientsId], [qty]) VALUES (2, 1, 3, 1)
INSERT [dbo].[MenuIngredients] ([menuIngredientsId], [menuId], [ingredientsId], [qty]) VALUES (3, 1, 4, 100)
GO
SET IDENTITY_INSERT [dbo].[MenuIngredients] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([roleId], [roleName], [privileges], [defaultPrivileges]) VALUES (1, N'admin', N'1,1,1,1,1,1,1,1,1,1', N'1,1,1,1,1,1,1,1,1,1')
INSERT [dbo].[Role] ([roleId], [roleName], [privileges], [defaultPrivileges]) VALUES (3, N'cashier', N'1,1,1,1,1,1,0,1,0,0', N'1,1,1,0,0,0,0,0,0,0')
INSERT [dbo].[Role] ([roleId], [roleName], [privileges], [defaultPrivileges]) VALUES (5, N'manager', N'1,1,1,1,1,1,1,1,0,0', N'1,1,1,1,1,1,0,0,0,0')
SET IDENTITY_INSERT [dbo].[Role] OFF
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([roleId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Role]
GO
ALTER TABLE [dbo].[MenuIngredients]  WITH CHECK ADD  CONSTRAINT [FK_MenuIngredients_Ingredients] FOREIGN KEY([ingredientsId])
REFERENCES [dbo].[Ingredients] ([ingredientsId])
GO
ALTER TABLE [dbo].[MenuIngredients] CHECK CONSTRAINT [FK_MenuIngredients_Ingredients]
GO
ALTER TABLE [dbo].[MenuIngredients]  WITH CHECK ADD  CONSTRAINT [FK_MenuIngredients_Menu] FOREIGN KEY([menuId])
REFERENCES [dbo].[Menu] ([menuId])
GO
ALTER TABLE [dbo].[MenuIngredients] CHECK CONSTRAINT [FK_MenuIngredients_Menu]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Table] FOREIGN KEY([tableId])
REFERENCES [dbo].[Table] ([tableId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Table]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_orderDetails_Menu] FOREIGN KEY([menuId])
REFERENCES [dbo].[Menu] ([menuId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_orderDetails_Menu]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_orderDetails_Order] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([orderId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_orderDetails_Order]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Bank] FOREIGN KEY([bankId])
REFERENCES [dbo].[Bank] ([bankId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Bank]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Member] FOREIGN KEY([memberId])
REFERENCES [dbo].[Member] ([memberId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Member]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Promo] FOREIGN KEY([promoId])
REFERENCES [dbo].[Promo] ([promoId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Promo]
GO
ALTER TABLE [dbo].[Promo]  WITH CHECK ADD  CONSTRAINT [FK_Promo_Bank] FOREIGN KEY([bankId])
REFERENCES [dbo].[Bank] ([bankId])
GO
ALTER TABLE [dbo].[Promo] CHECK CONSTRAINT [FK_Promo_Bank]
GO
USE [master]
GO
